.card{
    background-color: beige;
    border: 3px solid var(--primary-dark);
    width: 300px;
    padding: 1rem;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cardContent h2:last-of-type {
    color: var(--sunny-yellow);
    font-size: 18px;
}

.linksbtn{

    background-color: var(--sunny-yellow);
    padding: 0.4rem;
    color: var(--primary-dark) !important;
    border: 2px solid var(--primary-dark);
    transition: all 0.4s ease-in-out;

}

.linksbtn:hover{
    background-color: var(--sea-blue);
    color: var(--sunny-yellow) !important;
    transform: scale(1.1);
}