

/* Media query for small screens */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    display: none !important;
    
  }
  nav.mobileNav{
    display: flex;
    justify-content:space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background:var(--color-light);
  }

  .navLinks {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
  }
}

.navLinks li{
  display: inline;
  padding: 0.2rem 0.9rem;
  position: relative;
  /* text-shadow: 1px 0px 1px #689B8A; */
  font-size: 18px;

}

.navLinks li::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: all 0.2s ease-in-out;
    /* border-left: 1px solid #280A3E; */
    border-left: 1px solid #280A3E;
    

}


.navLinks li:hover::after{
    background-color:var(--color-accent);
    width: 100%;
    z-index: -1;
}
.navLinks li:hover a{
    transition: all 0.2s ease-in;
    /* text-shadow: 1px 1.5px 0px #689B8A; */
    color: var(--color-neutral);
}

.navLinks li:active::after{
   transform: translateY(2.5px);
}

.mobileNav{
    display: none;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
 
}

.mobileNav .mobileTitle{
    font-size: min(26px,6vw);
    font-weight: 200;
    font-family: "Fira Sans", sans-serif;
    color: var(--color-accent);
    text-transform: uppercase;
    word-spacing: -4px;   
    border-left: 10px solid var(--color-neutral);
    padding-left: 5px;
    position:relative;
    overflow:hidden;
    text-shadow: -5px 1px 0px var(--color-neutral);
}

.mobileTitle::before{
    animation: widthGrow 0.5s ease-in-out forwards;
    border-bottom: 2px solid var(--sea-blue);
    border-radius: 1px;
    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}



/* Inserting this collapsed row between two flex items will make 
 * the flex item that comes after it break to a new row */
.break {
  flex-basis: 100%;
  height: 0;
}


@keyframes heightGrow {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}


.mobileNav  .mobileNavLinks{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.6rem;
    width: 100%;
    padding: 1rem;
    list-style: none;
    font-size: 24px;
    position: relative;
}



.mobileNav button{
    margin-right: 20px;
    background-color: transparent;
    border: 2px solid var(--sea-blue);
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    mix-blend-mode: darken;
}

.mobileNav button.open{
    background-color: var(--sea-blue);
    mix-blend-mode: difference;
}

.mobileNav .burgerMenu.active{
    background-color: #183B4E !important;
}

.mobileNav  .mobileNavLinks li{
    color: var(--sea-blue);
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
} 
.mobileNav  .mobileNavLinks li:hover{
    background-color: var(--primary-light);
}


.mobileNav  .mobileNavLinks::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 90%;
    top: 0;
    left: 0;
    z-index: -1;
    border-bottom: 10px solid var(--sunny-yellow);
    border-top: 10px solid var(--sunny-yellow);
    background-color: var(--sea-blue);
    opacity: 0.2;
}


.navbar{

    color: black;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
    position: fixed;
    top:-5px;
    width:100%;
    z-index:100;
    background:var(--color-light);

}

.navbar .scrolled {
  background-color: black;
  transform:scale(1.2) ; 
}

@keyframes widthGrow {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}




.navbar h1{
    font-size: 42px;
    margin-left: 10px;
    font-weight: 200;
    font-family: "Fira Sans", sans-serif;
    color: var(--color-accent);
    text-transform: uppercase;
    word-spacing: -4px;   
    border-left: 10px solid var(--color-neutral);
    padding-left: 5px;
    position:relative;
    overflow:hidden;
    text-shadow: -5px 1px 0px var(--color-neutral);

}

.navbar h1:after{
    content:'';
    width:100%;
    height:100%;
    top:0;
    left:0;
    position:absolute;
    z-index:1;
    background:var(--color-neutral);
    opacity:1;
    animation: slideOut 0.5s ease-in forwards;
}


@keyframes slideOut {
    0% {
        transform: translateX(0px);
    }
 
 
    100% {
        transform: translateX(-530px);

    }
}


.menuFullScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--color-primary);
  z-index: 2;
  animation: slideDown 0.2s ease-in forwards;
}

.menuClose {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--color-primary);
  z-index: 2;
  animation: slideUp 0.2s ease-in forwards;
  pointer-events: none;
}

@keyframes slideDown {
  from {
    transform: translateY(150px);
    opacity: 0;
  }
  to {
    transform: translateY(65px);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(65px);
    opacity: 1;
  }
  to {
    transform: translateY(150px);
    opacity: 0;
  }
}


.innerMenu{
  list-style:none;
  padding: 0;
}
.innerMenu li a{
  color:var(--color-light);
  font-size:2rem;
  font-family: "Fira Sans", sans-serif;
  text-shadow: -2px 1px 0px var(--color-accent);
  display: block; 
}

.innerMenu li {
  border-bottom: 2px solid var(--color-neutral);
  padding:1rem;
}
.innerMenu li a:hover {
  color:var(--color-primary);
  text-shadow: -2px 1px 0px var(--color-accent);

}

