@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&family=Orbitron:wght@400..900&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400; */

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  color: var(--sea-blue);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

:root{

  
  --color-primary: #689B8A;       /* Blue */
  --color-light: #F2EDD1;         /* Cream / Off-white */
  --color-neutral: #F9CB99;       /* Beige / Tan */
  --color-accent: #280A3E;        /* Red-Orange */


  --darkmode-accent: #DCA06D;
  --darkmode-dark: #210F37;
  --darkmode-neutral: #4F1C51;

  --background-color: #F3F3E0;
    --white-beige: #F3F3E0;
    --sunny-yellow: #DDA853;
    --sea-blue: #183B4E;
    --sky-blue: #27548A;

    --primary-dark:var(--sea-blue);
    --primary-light: var(--white-beige);
    --secondary-light: var(--sunny-yellow);
    --secondary-dark: var(--sky-blue);
}


.darkmode{

  --color-accent: var(--darkmode-accent);
  --color-light: var(--darkmode-dark);
  --color-neutral : var(--darkmode-neutral);
  
}

body{
    background-color:var(--color-light);

  box-sizing: border-box;

}

a {
 
  text-decoration: inherit;
  color:var(--primary-dark)
}



